@model IEnumerable<EntityModels.Estadia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._Hospede.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._Quarto.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Final)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeDias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._Hospede.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._Quarto.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Final)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeDias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotal)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
